<div class="scroll-container">
        <div style="height: 100vh; background-color: lightgrey;">
                <img style="padding-top: 2.5%; padding-left: 5%; align-self: center; width: 90%; height: 90%;" src="assets/Images/Logo.png" alt="Logo"/>
        </div>
                
        <div style="padding-left: 30%; padding-top: 10%; height: 30vh; background-color: lightgrey;">
                <label class=".game-title" for="numberDropdown">Select the number of Seats to be arranged:&nbsp;</label>
                <select id="numberDropdown" [(ngModel)]="selectedNumber" (ngModelChange)="onDropdownChange()" #numberControl="ngModel">
                        <option *ngFor="let number of numbers" [value]="number">
                                {{ number }}
                        </option>
                </select>
                
                <br><br>
                <p class=".game-title" *ngIf="numberControl.dirty || isUpdated">You planned to arrange: {{ selectedNumber }} seats together. Excellent Choice</p>
        </div>

        
</div>