#numberDropdown {
    width: 75px; /* Adjust the width as needed */
    text-align: center;
  }

  .scroll-container {
    height: 100vh;
    overflow-y: scroll;
  }

  p {
    font-family: 'Cardo', serif;
  }
  